<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  
  <title>Dependable Virtualized Systems </title>

  <link href="bootstrap-5.0.2-dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="dejavu-sans/css/dejavu-sans.min.css">
  <link href="style.css" rel="stylesheet">

  <script src="bootstrap-5.0.2-dist/js/bootstrap.min.js" ></script>
</head>

<body>
  <section class="section">
    {% block section %} {% endblock %}
  </section>

  <section class="section">
    <div class="container">
      <p>
      © Jörg Thalheim 2022 (<a href="https://thalheim.io/impressum.html">Impressum</a>)
      </p>
    </div>
  </section>
</body>

</html>
